*{
	--tabPaneBg:#377D78;
	--tabHeaderFg:white;
	--tabHeaderBg:#00000050;
	--tabActive:#377D78;
	--tabActiveHover: #377D78;
	--tabHover:#255350;
}
.tabNav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
}

.tabHeader {
	position: relative;
	cursor: pointer;
	color: var(--tabHeaderFg);
	line-height: 1em;
	font-weight: 300;
	padding: 0.5em 1em;
	margin-right: 1px;
	text-align: center;
	background-color: var(--tabHeaderBg);
	transition: background 0.5s ease;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
}

body.hasHover .tabHeader:hover {
	background-color: var(--tabHover);
	transition: background 0s ease;
}

.tabHeader.active {
	background-color: var(--tabActive);
	cursor: default !important;
	font-weight: bold;
}

body.hasHover .tabHeader.active:hover {
	background: var(--tabActiveHover);
}


.tabContent {
	position: relative;
	background-color: var(--tabPaneBg);
	border: solid 4px var(--tabActive);
	border-style: solid none none none;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
	box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
}

.tabPane:not(.active) {
	opacity: 0;
	transform: scale(0.5);
	z-index: -1;
	height: 0;
}

.tabPane {
	position: absolute;
	overflow: hidden;
	width: 100%;
	display: block;
	box-sizing: border-box;
	opacity: 1;
	transform: scale(1);
	transition: all 1s cubic-bezier(1,-0.01,1,.6);
	transition: all 1s cubic-bezier(1,-0.01,.5,1);
}
