.contactUsTagline {
    font-size: 6vh;
    font-family: var(--fontHeader);
    font-weight: bold;
}

.leftSide {
    width: 50%;
}

.rightSide {
    width: 50%;
}

.contactUsAddress {
    display: inline-block;
    margin-top: 1em;
    margin-right:3em;
}

.contactUsAddress div {
    margin: 0 0 1em 0;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 1.2em;
    padding-left: 2.2em;
    min-height: 1.5em;
    --iconPin: url('data:image/svg+xml,<svg width="17" height="23" viewBox="0 0 17 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.34999 0C3.73999 0 0 3.74004 0 8.35004C0 12.96 8.34999 22.42 8.34999 22.42C8.34999 22.42 16.7 12.96 16.7 8.35004C16.7 3.74004 12.96 0 8.34999 0ZM8.34999 14.2C5.38999 14.2 2.98 11.8 2.98 8.83002C2.98 5.86002 5.37999 3.46002 8.34999 3.46002C11.32 3.46002 13.72 5.86002 13.72 8.83002C13.72 11.8 11.32 14.2 8.34999 14.2Z" fill="white"/></svg>');
    --iconPhone: url('data:image/svg+xml,<svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.3926 18.0628C14.5926 16.9928 13.0226 15.6628 12.1226 14.9428C11.7826 14.6628 11.1726 14.7328 10.7226 15.0928C10.4526 15.3128 10.1026 15.5628 9.67262 15.8328C8.15261 16.7928 7.43261 15.4028 7.43261 15.4028L5.18261 12.0128L3.07261 8.53281C3.07261 8.53281 2.12262 7.28278 3.64262 6.32278C4.07262 6.05278 4.44261 5.84278 4.76261 5.69278C5.28261 5.44278 5.60262 4.92277 5.50262 4.49277C5.23262 3.37277 4.71262 1.38279 4.08262 0.202788C3.98262 0.0227882 3.74261 -0.0471947 3.48261 0.0328053L2.66262 0.302764C2.39262 0.392764 2.13262 0.522788 1.91262 0.702788C1.26262 1.21279 0.0526117 2.37276 0.0126117 3.98276C-0.00738825 4.60276 -0.0173864 5.40277 0.0926136 6.37277C0.212614 7.41277 0.472616 8.64276 1.03262 10.0528C1.62262 11.3728 2.22261 12.5128 2.84261 13.5028C3.47261 14.4928 4.24261 15.5228 5.18261 16.6228C6.22261 17.7328 7.22261 18.5028 8.10261 19.0528C8.93261 19.5628 9.65262 19.8928 10.2226 20.1428C11.6926 20.7928 13.2626 20.1928 14.0026 19.8228C14.2626 19.6928 14.4926 19.5228 14.6826 19.3128L15.2726 18.6828C15.4626 18.4828 15.5026 18.2328 15.3726 18.0628H15.3926Z" fill="white"/></svg>');
    --iconEmail: url('data:image/svg+xml,<svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.86 6.07751C21.56 5.50751 21.22 4.96752 20.84 4.46752C20.79 4.39752 20.74 4.3375 20.67 4.2575C20.63 4.2075 20.6 4.1675 20.56 4.1275C20.47 4.0175 20.39 3.9175 20.29 3.8175C20.23 3.7475 20.16 3.67748 20.1 3.60748L19.71 3.21752C19.71 3.21752 19.63 3.13753 19.58 3.09753C19.42 2.95753 19.29 2.84748 19.17 2.73748C18.07 1.82748 16.84 1.13749 15.54 0.687493C14.41 0.287493 13.27 0.0575 12.16 0.0075C11.93 -0.0025 11.67 -0.0025 11.36 0.0075C11.27 0.0075 11.18 0.0075 11.09 0.0075H11.07C8.72999 0.1275 6.5 0.937476 4.63 2.35748C4.49001 2.46748 4.34 2.5775 4.2 2.6975C4.07 2.8075 3.95 2.90751 3.83 3.01751C3.53 3.28751 3.24001 3.58751 2.96001 3.89751C2.88001 3.98751 2.81 4.06752 2.73 4.15752L2.63 4.27752C2.57 4.34752 2.51 4.41749 2.45 4.49749C2.4 4.55749 2.35999 4.61747 2.31999 4.66747C2.26999 4.73747 2.22 4.79749 2.17 4.86749C2.07 5.00749 1.98 5.13752 1.89 5.27752C1.79 5.42752 1.7 5.57751 1.62 5.70751C1.58 5.77751 1.54001 5.84748 1.49001 5.92748C0.560005 7.57748 0.05 9.44753 0 11.3475C0 11.4475 0 11.5475 0 11.6475C0 11.9375 0.00999878 12.2375 0.0299988 12.5475C0.0299988 12.6775 0.0499921 12.7975 0.0699921 12.9375C0.0699921 12.9575 0.0699921 12.9775 0.0699921 12.9875C0.0899921 13.1175 0.0999951 13.2375 0.119995 13.3475V13.3975C0.149995 13.5275 0.170002 13.6575 0.190002 13.7875C0.210002 13.8975 0.23 13.9975 0.25 14.1075L0.279999 14.2475C0.299999 14.3475 0.320006 14.4475 0.350006 14.5375L0.369995 14.6275C0.399995 14.7375 0.430001 14.8675 0.470001 14.9875C0.510001 15.1175 0.549996 15.2475 0.589996 15.3775L0.610001 15.4275C0.650001 15.5475 0.689996 15.6575 0.729996 15.7675V15.8075C0.789996 15.9175 0.830005 16.0375 0.880005 16.1475C0.930005 16.2575 0.979999 16.3775 1.03 16.4875C1.04 16.5175 1.06 16.5475 1.08 16.5775C1.12 16.6875 1.17001 16.7775 1.21001 16.8675C1.28001 17.0175 1.36001 17.1675 1.46001 17.3375C1.64001 17.6575 1.84 17.9775 2.05 18.2775C2.11 18.3675 2.17001 18.4575 2.24001 18.5375C2.28001 18.5875 2.31 18.6375 2.34 18.6775C2.42 18.7775 2.48999 18.8775 2.56999 18.9775C2.58999 19.0075 2.61 19.0275 2.62 19.0375C4.85 21.7575 8.14 23.3175 11.64 23.3175C14.94 23.3175 17.98 21.9875 20.21 19.5675L20.41 19.3475L20.12 19.4275C19.12 19.7075 18.1 19.8775 17.08 19.9275H17.06L17.04 19.9375C15.56 20.9075 13.83 21.4575 12.06 21.5375H11.95H11.91C11.83 21.5375 11.74 21.5375 11.65 21.5375C9.97999 21.5375 8.33 21.1075 6.87 20.3075C6.75999 20.2475 6.64 20.1775 6.53 20.1175L6.5 20.0975C5.9 19.7275 5.31999 19.2875 4.78999 18.7875C3.86999 17.9075 3.12 16.8475 2.59 15.6475C2.28 14.9475 2.05 14.1975 1.92 13.4075L1.89 13.2075C1.81 12.7075 1.77 12.1775 1.77 11.6475C1.77 11.3875 1.78 11.1375 1.8 10.8775C1.8 10.8075 1.79999 10.7275 1.81999 10.6475V10.5975C1.91999 9.60753 2.15999 8.6475 2.53999 7.7575C3.04999 6.5675 3.76999 5.5175 4.67999 4.6275C4.89999 4.4175 5.13 4.2075 5.37 4.0075C5.43 3.9575 5.5 3.89753 5.58 3.84753C5.66 3.77753 5.75001 3.71751 5.85001 3.64751C5.93001 3.58751 6.03 3.51751 6.11 3.45751C6.75 3.01751 7.44999 2.6575 8.17999 2.3875C8.28999 2.3475 8.41 2.30751 8.52 2.26751C8.82 2.16751 9.14 2.0775 9.45 2.0075H9.48C9.55 1.9875 9.62 1.96751 9.69 1.95751C9.85 1.92751 10.01 1.8975 10.17 1.8775C11.34 1.6975 12.57 1.72747 13.73 1.97747C13.78 1.97747 13.84 1.99751 13.91 2.01751C13.98 2.02751 14.06 2.05751 14.14 2.07751C14.21 2.09751 14.29 2.1175 14.38 2.1375C14.45 2.1575 14.53 2.17751 14.62 2.20751C14.69 2.22751 14.77 2.25753 14.85 2.28753C14.94 2.31753 15.05 2.3575 15.14 2.3875L15.19 2.40752C15.19 2.40752 15.29 2.44752 15.34 2.46752C16.47 2.92752 17.48 3.5675 18.34 4.3775C19.21 5.1875 19.89 6.12748 20.37 7.17748C20.86 8.22748 21.1 9.36753 21.1 10.5375C21.1 11.3475 20.98 12.1275 20.73 12.8575C20.48 13.5975 20.11 14.2075 19.63 14.6675C19.13 15.1375 18.5 15.3775 17.76 15.3775C17.31 15.3775 16.92 15.2375 16.61 14.9575C16.29 14.6775 16.13 14.2575 16.13 13.7075V7.16747C16.13 6.52747 15.7 5.97752 15.09 5.83752C14.83 5.77752 14.55 5.71747 14.27 5.66747C13.59 5.54747 12.91 5.48748 12.24 5.48748C11.13 5.48748 10.07 5.69748 9.08 6.10748C8.11 6.50748 7.3 7.20748 6.69 8.17748C6.07 9.14748 5.75999 10.4875 5.75999 12.1775C5.75999 13.3475 5.98 14.3475 6.42 15.1475C6.86 15.9475 7.43001 16.5575 8.13 16.9575C9.44 17.7175 10.94 17.7575 12.36 17.0875C13.03 16.7675 13.63 16.2875 14.16 15.6475L14.35 15.4275L14.45 15.6975C14.66 16.2575 15.07 16.6975 15.7 17.0475C16.33 17.3975 17.03 17.5775 17.77 17.5775C18.55 17.5775 19.32 17.3675 20.07 16.9475L20.16 16.8975C20.94 16.4475 21.59 15.7075 22.11 14.6775C22.63 13.6475 22.89 12.2575 22.89 10.5375C22.89 8.81753 22.55 7.35749 21.87 6.05749L21.86 6.07751ZM13.7 7.85748V11.5075C13.7 12.7775 13.38 13.7475 12.75 14.4075C12.12 15.0675 11.44 15.3975 10.73 15.3975C10.09 15.3975 9.52 15.1475 9.02 14.6475C8.52 14.1475 8.27 13.3775 8.27 12.3575C8.27 11.0875 8.44999 10.0975 8.81999 9.42748C9.18999 8.74748 9.67 8.27753 10.25 8.03753C10.81 7.79753 11.4 7.68749 11.99 7.68749C12.26 7.68749 12.53 7.69752 12.81 7.71752C13.08 7.73752 13.33 7.77751 13.56 7.82751L13.7 7.85748Z" fill="white"/></svg>');
}
.contactUsAddress b{
    color:white !important;
    text-transform: uppercase;
}

.contactUsAddress div:nth-child(1) {
    background-image: var(--iconPin);
}

.contactUsAddress div:nth-child(2) {
    background-image: var(--iconPhone);
}

.contactUsAddress div:nth-child(3) {
    background-image: var(--iconEmail);
}
.contacts{
    border-top: solid 1px white;
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-top: 20px;
    padding-top: 10px;;
}
.contacts>div{
    position: relative;
}



.twitterContainer{
    width:100%;
    height:100%;
    position: relative;
}
.twitterCard{
    min-width: 50%;
    max-width: 100%;
    /* min-width: 350px; */
    background-color: #f7f7f7;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) !important;
    padding: 2vmin;
    left: 50%;
    box-shadow: 1px 1px 20px #00000050;
    border-radius: 10px;
}
.twitterCard div{
    position: relative;
}
.twitterHeadshot{
    border-radius: 50%;
    width:7em;
    height:7em;
    overflow: hidden;
    margin-right: 1em;
    flex: 0 0 auto;
}
.twitterHeadshot img{
    width:100%;
    height:100%;
}
.twitterName{
    font-weight: bold;
}
.twitterHashtags{
    color:rgb(29, 155, 240);
    margin-top:10px;
}
.twitterSubtitle{
    color:rgb(163, 163, 163);
    margin-bottom:10px;
}
.contactUsRightLogo{
    width: 10vw;
    position: absolute;
    top:5vh;
    right:5vh;
}