.mainMenuContainer{
	position: absolute;
	top:0;
	left:0;
}
.menuContainer ul{
	list-style: none;
	margin: 0;
	line-height: 1.4rem;
}
.menuContainer{
	width: 400px;
	max-width: 100vw;
	height: 100vh;
	/* overflow: hidden; */
	background-color: #151920;
	z-index: 100;
	position: absolute;
	top:0;
	left:0;
	box-shadow: 5px 0px 50px 0px rgba(0, 0, 0, 0.3);
	transition: all 0.5s var(--menuAnimation);
}
.menuClose {
	left: -400px;
	opacity: 0.2;
}
.menuClose .menuCloseButton {
	/* display: none; */
	transform: scale(0);
}
.menuContainer, .mainMenu{
	margin:0 !important;
	padding: 0 !important;
}
.mainMenu{
	width:100%;
	position: absolute;
	height:calc(100vh - 190px);
	background-color: var(--menu1levelBg);
	overflow-x: hidden;
	overflow-y: auto;
	top:90px;
	left:0;
}
.menuBottom{
	background-color: var(--menuBottom);
	height: 100px;
	position: absolute;
	width:100%;
	left:0;
	top:calc(100vh - 100px);
	margin: 0 !important;
	padding: 1rem;
	font-size: 0.8rem;
	border-top: solid 1px #ffffff20;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.menuBottom{
	color:var(--menuBottomText);
}
.menuBottom>div{
	position: relative;
}
.menuBottom>div:first-of-type{
	text-transform: uppercase;
	font-weight: 500;
}
.menuBottom b, .menuBottom strong{
	font-weight: 500;
}

.menuTop{
	background-color:var(--menuTop);
	color: #fff;
	height: 90px;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	margin: 0 !important;
	padding: 0;
	border-bottom: solid 1px #ffffff20;
	box-sizing: border-box;
}
.topMenuLogo{
	height:25px;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

.menu{
	border:none !important;
}

.menuActive,  .current-menu-item{
	font-weight: 700 !important;
	color: white !important;
}
.menuActive a,  .current-menu-item a{
	background-color: var(--menu1levelActive);
}

body.hasHover .menuActive:hover, body.hasHover .current-menu-item:hover{
	color: white !important;
}
.menuActive>a, .current-menu-item>a {
	cursor: default;
	color:var(--menuSelectedText) !important;
}

.menu-item{
	/* text-transform: uppercase; */
	padding: 1px 0.5rem;
	position: relative;
	margin:0;
	transition: all 0.3s ease;
	transform-origin: top;
}

.menuClose .menu-item {
	/* transform: scale(0.5); */
	opacity: 0;
	margin-left:-20px;
}
.menu-item > *{
	position: relative;
}

.menu-item a{
	cursor: pointer;
	color:var(--menuText);
	padding: 9px 16px;
	padding-left: 35px;
	border-radius: 2rem;
	transition-duration: 0.3s;
	border: solid 1px transparent !important;
	display: block;
	transition: all 0.2s ease;
	margin: 0.5rem 0;
}
body.hasHover .menu-item a:hover{
	background-color: var(--menu1levelHoverBg) !important;
	border: solid 1px #ffffff20 !important;
	padding-left: 32px !important;
	color:var(--menuTextHover);
}

.sub-menu{
	background-color: var(--menu2levelBg);
	margin:0 -0.5rem !important;
}


.l-main .widget_nav_menu .menu-item a {
	border-width: 2px !important;
}



.sub-menu .menu-item{
	text-transform: none;
	color:rgba(255,255,255,0.6);
	font-weight: 300;
}

.menuItemOpenClose {
	display: block;
	position: absolute;
	width:20px;
	height:20px;
	background-image: var(--plusIconWhite);
	top: 50%;
	left: 0.5rem;
	transform: translateY(-50%);
}
.menuAccordionOpen .menuItemOpenClose{
	background-image: var(--minusIconWhite);
}

.current-menu-item .menuItemOpenClose {
	background-image: var(--plusIcon);
}
.current-menu-item.menuAccordionOpen .menuItemOpenClose {
	background-image: var(--minusIcon);
}
.menuVisitedIcon {
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	background-image: var(--notVisitedIcon);
	top: 50%;
	right: 0.5rem;
	transform: translateY(-50%);
	transition: all 0.5s ease;
	opacity: 1;
}
.menuVisited .menuVisitedIcon, .current-menu-item:not(.menu-item-has-children) .menuVisitedIcon {
	background-image: var(--visitedIcon);
}
.menuClose .menuVisitedIcon {
	/* background-color: red !important; */
	opacity: 0;
	right: -50px;
}
.menuCloseButton, .menuOpenButtonTop{
	position: absolute;
	top:10px;
	right: 10px;
	z-index: 1;
	width:40px;
	height:40px;
	border-radius: 50%;
	cursor: pointer;
	transition: transform 0.3s ease;
	overflow: hidden;
	isolation: isolate;
	border:solid 1px #ffffff40;
}
.menuOpenButtonTop{
	right: auto;
	left:10px;
}
.menuCloseButton::before, .menuCloseButton::after,
.menuOpenButtonTop::before, .menuOpenButtonTop::after 
{
	content: "";
	position: absolute;
	top:0;
	left:0;
	pointer-events: none;
	width:100%;
	height:100%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: var(--menuCloseIcon);
	z-index: 2;
	transition: all 0.3s var(--menuAnimation);
}
.menuOpenButtonTop::before, .menuOpenButtonTop::after {
	background-image: var(--menuOpenIcon);
}

.menuCloseButton::after, .menuOpenButtonTop::after {
	/* background: linear-gradient(0deg, rgba(207, 138, 58, 1) 0%, rgba(224, 180, 129, 1) 100%);; */
	z-index: 1;
	/* border-radius: 50%; */
	opacity: 0;
	transition: all 0.5s ease;
	/* transition: all 0s linear; */
}

body.hasHover .menuCloseButton:hover,
body.hasHover .menuOpenButtonTop:hover{
	/* outline: solid 5px rgba(255, 255, 255, 0.1); */
	box-shadow: var(--buttonOverOutline);
}

body.hasHover .menuCloseButton:hover::before{
	transform: rotate(-90deg) scale(110%);
}
body.hasHover .menuOpenButtonTop:hover::before {
	transform:  scaleX(110%);
}


.menu-item .material-symbols-outlined,
.menuBottom .material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 300,
		'GRAD' 0,
		'opsz' 20;
	vertical-align: middle;
	margin-right: 0.5rem;
}
.menuBottom .material-icons {
	font-size: 20px;
	vertical-align: middle;
	margin-right: 10px;
	line-height: 27px;
}

.menuButtonFooter{
	display: none;
}