body {
	background-color: #F5F5F5;
}

main {
	width: 100vw;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	overflow: hidden;
	padding: 60px 0;
	margin: 0;
}

.leftSide,
.rightSide {
	position: relative;
	z-index: 1;
	display: block;
	padding: 0;
	max-height: 100%;
	overflow-y: auto;
}

.leftSide {
	width: 33%;
	color:white;
	padding: 0 2% 0 5%;
	z-index: 2;
	opacity: 0;
	transform: translateX(-200px);
	transition: opacity 0.3s ease, transform 1s ease;
}

.rightSide {
	width: 67%;
	/* width: 100%; */
	height: 100%;
	padding: 0 5% 0 2%;
	z-index: 1;
}

.animatedChildrens>div {
	transform: scale(0.5);
	/* transition: transform 0.5s ease; */
	opacity: 0;
	transition: all 0.5s ease;
}

.logoSmall{
	vertical-align: baseline;
	height:14px;
}



.pageBg {
	z-index: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	/* background-color: black; */
	position: fixed;
	top: 0;
	left: 0;
	opacity:1;
	pointer-events:none;
}


/* Анимация фона слайдов, кроме фона под панорамами */
.pageBgAnimated {
	animation: scale-up-center 10s ease-in-out infinite alternate backwards;
	-webkit-animation: scale-up-center 10s ease-in-out infinite alternate backwards;
}

.divider, .divider20 {
	height: 20px;
}
.divider5 {
	height: 5px;
}

.divider10 {
	height: 10px;
}
.divider30 {
	height: 30px;
}
.divider40 {
	height: 40px;
}
.divider50 {
	height: 50px;
}

hr{
	width:80px;
	height:1px;
	border:none;
	padding: 0;
	background-color: white;
	margin: 30px auto 30px auto;
}

.leftSide hr{
	margin: 20px 0;
	background-color: white;
}








/* Pages Layout */
.col1,
.col2,
.col1-2,
.col3,
.col4 {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	height: 100%;
	/* align-items: center; */
	justify-content: center;
	align-items: flex-start;
	align-content: space-around;
}
.col1 > div , .col2 > div, .col1-2 > div, .col3 > div , .col4 > div{
position: relative;
box-sizing: border-box;
text-align: center;
	padding: 40px;
}
.col1>div {
	width: 100%;
	text-align: left;
}

.col2>div {
	width: 50%;
}
.col1-2>div:nth-child(1) {
	width: 33%;
}
.col1-2>div:nth-child(2) {
	width: 67%;
}
.col2.perth-btr>div {
	height: 50%;
}
.col3>div {
	width: 33%;
}

.col4>div {
	width: 25%;
	padding: 20px;
}


/* Pages Layout */




/* Close Page Blinds */
.blindsScreenNext,
.blindsScreenPrev {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	/* background-color: rgba(0, 0, 0, 0.7); */
	background-color: rgba(255,255, 255, 0.7);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	position: absolute;
	z-index: 1000;
	transform: scaleX(0%);
	transition: all 1.5s ease;
	transform-origin: right;
}

.blindsScreenPrev {
	transform-origin: left;
}

.blindsScreenVisible {
	transform: scaleX(100%);
}

.verticalScreenLocker {
	position: absolute;
	color: white;
	text-transform: uppercase;
	font-size: 2vh;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
	z-index: 100000;
	display: none;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.verticalScreenLocker>div {
	position: relative;
	text-align: center;
}

/* Close Page Blinds */


/* Headers */
h1 {
	color:white;
	font-family: var(--fontHeader);
	font-size: max(3vh, 14px);
	font-weight: normal;
	line-height: 1em;
	margin: 10px 0;
	text-align: left;
	padding: 0;
	font-weight: bold;
}


h2, .h2 {
	
	color:var(--colorGrayDark);
	font-size: max(5vh, 12px);
	font-family: var(--fontHeader);
	font-weight: bold;
	text-align: left;
	padding: 0;
	margin: 0 0 20px 0;
	line-height: 1;
	text-transform: none;
}
h3, .h3{
	font-weight: bold;
    font-family: var(--fontHeader);
    font-size: 3vh;
    color: var(--colorGrayDark);
    margin:0 0 10px 0;
}
h4, .h4{
	font-family: var(--fontRegular);
	text-transform: none;
	color:var(--colorBlack);
	font-size: 3vh;
	font-weight: 500;
	margin: 0;
}

/* Headers */

.floorPlanSkinElement{
	top:calc(var(--footerHeight) * -1)!important;
}
.floorPlanContainer{
	height:min(300px, calc(100vh - var(--footerHeight))) !important;
	width:min(300px, calc(100vh - var(--footerHeight))) !important;
}

.floorPlanContainerBig{
	height:calc(100vh - var(--footerHeight) - var(--headerHeight)) !important;
	width:calc(100vh - var(--footerHeight) - var(--headerHeight)) !important;
}











.bigFont {
	/* font-size: 24px; */
	font-size: 1.4vw;
}


.smallFont {
	/* font-size: 24px; */
	font-size: min(1vw, 12px);
	line-height: 1.2em;
}

.contentIcon{
	width:140px;
	height:140px;
}























