.floorMain {
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-backdrop-filter: blur(30px);
	backdrop-filter: blur(30px);
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
		display: block;
}

.floorViewContainer,
.floorMain {
	color:white;
position: absolute;
width: 100%;
height: 100%;
z-index: 20;
	top: 0;
	left: 0;
	border: none;
	display: block;
}

.floorViewContainer {
	visibility: hidden;
	transition: visibility 0s ease 0.5s, transform 0.5s ease 0s;
	transform: translateY(-100%);
}

.floorViewContainerShow {
	visibility: visible;
	transform: translate(0);
	transition: visibility 0s, transform 0.5s ease;
}






















.floorViewCloseButton {
	position: absolute;
	top: 10px;
	right: 10px;
	/* width: 40px;
	height: 40px; */
	cursor: pointer;
	border-radius: 50%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.3);
	/* border:solid 1px rgba(255, 255, 255, 0.2); */
	z-index: 21;
}

body.hasHover .floorViewCloseButton:hover {
	box-shadow: var(--buttonOverOutline);
}

.floorViewCloseButton::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-image: var(--floorCloseButtonIcon);
	background-position: center;
	background-repeat: no-repeat;
}

.floorViewCloseButton::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--buttonOverGradient);
	z-index: 0;
	transform: scaleY(0);
	transition: transform 0.3s ease;
	transform-origin: top;
}

body.hasHover .floorViewCloseButton:hover::after {
	transform: scaleY(1);
}



























.floorCompass {
	position: absolute;
	width: 44px;
	height: 88px;
	bottom: 20px;
	right: 20px;
	z-index: 1;
}

.floorLeftPanel {
	width: min(380px, 30vw);
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(20, 22, 27, 0.95);
	border-right: solid 1px rgba(255, 255, 255, 0.1);
	box-shadow: 10px 0 50px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	z-index: 2;
}

.floorLeftPanel div {
	position: relative;
}

.floorLeftPanelTop {
	font-size: 24px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	width: 100%;
	margin-top: 40px;
}

.floorLeftPanelCenter {
	width: 100%;
	overflow-y: auto;
}

.floorLeftPanelTitle {
	margin: 10px 0;
}

.floorLeftPanelTitle span {
	font-weight: 700;
	color: var(--colorLightGold);
}

.floorPrevButton,
.floorNextButton {
	width: 68px;
	height: 30px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
	transition: var(--buttonOverTransition);
	overflow: hidden;
}

.floorPrevNextButtonDisabled {
	pointer-events: none;
	cursor: default;
	opacity: 0.3;
	background-color: rgba(255, 255, 255, 0.1);
}

.floorPrevButton::before,
.floorNextButton::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: var(--floorPrevButtonIcon);
	z-index: 1;
}

.floorNextButton::before {
	background-image: var(--floorNextButtonIcon);
}

.floorPrevButton::after,
.floorNextButton::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--buttonOverGradient);
	z-index: 0;
	transform: scaleY(0);
	transition: transform 0.3s ease;
	transform-origin: top;
}

body.hasHover .floorPrevButton:hover,
body.hasHover .floorNextButton:hover {
	box-shadow: var(--buttonOverOutline);
}

body.hasHover .floorPrevButton:hover::after,
body.hasHover .floorNextButton:hover::after {
	transform: scaleY(1);
}

.floorValuesTable {
	width: 100%;
	max-width: 300px;
	margin: auto;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 100%;
	margin-top: 30px;
}
.floorValuesTable:empty{
margin-top: 0 !important;
}

.floorTableRow {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 5px 10px;
	border-bottom: dotted 1px #5F5F5F;
	transition: background 0.3s ease;
}



body.hasHover .floorTableRow:hover {
	background-color: var(--tableRowHover);
	transition: background 0s ease;
}

.floorTableRow>div:nth-child(1) {
	width: 70%;
}

.floorTableRow>div:nth-child(2) {
	width: 30%;
	text-align: right;
	font-weight: 500;
	color: var(--colorLightGold);
}

.floorTableRow>div:nth-child(2) span {
	font-weight: 400;
}

div[data-apartament-type="Totals"] {
	font-weight: 700;
}

.floorShowAvailable {
	cursor: pointer;
	margin-top: 30px;
	border-bottom: none;
}
.floorShowAvailable > div {
	width:100% !important;
}
.apartmentFilter{
	cursor: pointer;
}
.apartmentFilterCheckbox {
	width: 14px;
	height: 14px;
	position: absolute;
	background-color: var(--colorLightGold);
	box-shadow: inset 0 0 0 1px black, 0 0 0 1px rgba(255, 255, 255, 0.3);
	display: inline-block;
	cursor: pointer;
	margin-right: 10px;
	border-radius: 50%;
	top: 3px;
	transition: all 0.3s ease !important;
}

body.hasHover .apartmentFilterCheckbox:hover,
body.hasHover .floorTableRow:hover .apartmentFilterCheckbox{
	background: var(--buttonOverGradient);
	box-shadow: inset 0 0 0 1px black, 0 0 0 3px rgba(255, 255, 255, 0.2);
}

.apartmentFilterCheckboxHide {
	background: black !important;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
}

body.hasHover .apartmentFilterCheckboxHide:hover {
	box-shadow: var(--buttonOverOutline);
}

.floorTabs {
	position: absolute;
	left: 0;
	/* top: 50%;
	transform: translateY(-50%); */
	width: auto;
	height: auto;
	z-index: 1;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	overflow-y: auto;
}

.floorTabs>div {
	position: relative;
	text-align: center;
	font-size: 14px;
	padding: 5px 10px;
	transition: background 0.5s ease;
	cursor: pointer;
}

body.hasHover .floorTabs>div:hover {
	background-color: rgba(0, 0, 0, 0.5);
	background-color: var(--tableRowHover);
	transition: background 0s ease;
}

.floorTabSelected {
	background-color: var(--colorLightGold);
	cursor: default !important;
}

body.hasHover .floorTabSelected:hover {
	background: var(--buttonOverGradient);
	box-shadow: var(--buttonOverOutline);
}



.floorZoomButtons {
	position: absolute;
	width: 48px;
	height: 96px;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}

.floorZoomInButton,
.floorZoomOutButton {
	position: relative;
	width: 48px;
	height: 48px;
	background-color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
	transition: var(--buttonOverTransition);
	border-radius: 50% 50% 0 0;
	overflow: hidden;
}

.floorZoomOutButton {
	border-radius: 0 0 50% 50%;
}

.floorZoomInButton::before,
.floorZoomOutButton::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 1;
}

.floorZoomInButton::before {
	background-image: var(--floorZoomInButtonIcon);
}

.floorZoomOutButton::before {
	background-image: var(--floorZoomOutButtonIcon);
}

.floorZoomInButton::after,
.floorZoomOutButton::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--buttonOverGradient);
	z-index: 0;
	transform: scaleY(0);
	transition: transform 0.3s ease;
	transform-origin: top;
}

body.hasHover .floorZoomInButton:hover,
body.hasHover .floorZoomOutButton:hover {
	box-shadow: var(--buttonOverOutline);
}

body.hasHover .floorZoomInButton:hover:after,
body.hasHover .floorZoomOutButton:hover::after {
	transform: scaleY(1);
}



.floorImageContainer {
	right: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}

.floorImage {
	background-color: transparent !important;
	width: 50%;
	height: 100%;
	background-image: var(--loadingSpinner) !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
}

.floorImageVisible {
	background: none !important;
}

.floorImage img {
	margin: inherit;
	transition: opacity 0.3s ease;
	opacity: 0;
}

.f-spinner {
	display: none !important;
}

.floorImageVisible img {
	opacity: 1;
}

.floorViewHotspot {
	transition: opacity 0.3s ease;
}

.floorViewHotspotHidden {
	opacity: 0;
}

.floorViewHotspotHiddenSold {
	opacity: 0 !important;
}

.floorViewHotspotCircle {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: var(--apartmentHotspot);
	transform: translate(-50%, -50%);
	border: solid 2px rgba(255, 255, 255, 1);
}

.floorViewHotspotCircle::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	font-size: 12px;
	font-weight: 700;
	color: black;
	text-align: center;

}

.floorViewHotspot[data-apartment-type="3 Bed"] .floorViewHotspotCircle::before {
	content: "3";
}

.floorViewHotspot[data-apartment-type="2 Bed"] .floorViewHotspotCircle::before {
	content: "2";
}

.floorViewHotspot[data-apartment-type="1 Bed"] .floorViewHotspotCircle::before {
	content: "1";
}

.floorViewHotspot[data-apartment-type="Studio"] .floorViewHotspotCircle::before {
	content: "S";
}

.floorViewHotspot[data-status="sold"] .floorViewHotspotCircle {
	background-color: var(--apartmentSold);
}

.floorViewHotspot[data-status="available"] .floorViewHotspotCircle {
	background-color: var(--apartmentAvailable);
}


.floorViewDrawButton{
	z-index: 21;
	position: absolute;
	bottom:5px;
	left:20px;
}




/* floor selector page LEFT column */
.floorSelectorSummary{
		border-top: 1px solid var(--colorLightGold);
		border-bottom: 1px solid var(--colorLightGold);
		background: rgba(0, 0, 0, 0.11);
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		padding: 0 !important;
		display: inline-block;
		pointer-events: all;
}


/* Left side Table */
.floorSelectorSummary table{
border-spacing: 0px;
}

.floorSelectorSummary tr td,
.floorSelectorSummary tr th {
	text-align: center;
	font-size: 0.8em;
	padding: 5px 5px;
	font-weight: 300;
}

.floorSelectorSummary tr th {
	font-weight: 500;
}

.floorSelectorSummary tr th:first-child,
.floorSelectorSummary tr td:first-child {
	text-align: left;
	padding-left:10px;
}

.floorSelectorSummary tr th:last-child,
.floorSelectorSummary tr td:last-child {
	text-align: right;
	padding-right: 10px;
}

.floorSelectorSummary tbody tr:nth-child(even) {
	background-color: rgba(255, 255, 255, 0.05);
	transition: background 0.5s ease;
}

body.hasHover .floorSelectorSummary tbody tr:hover {
	background-color: var(--tableRowHover);
	transition: background 0s ease;
}

.floorSelectorSummary thead tr {
	color: var(--colorLightGold);
	background-color: rgba(0, 0, 0, 0.35);
}

/* Left side Table */
